<!DOCTYPE html>
<html>
<head>
    <title>Mualliflar ro'yxati</title>
</head>
<body>
    <h1>Mualliflar ro'yxati</h1>
    <hr>

    <form method="get">
        <input type="text" name="q" placeholder="Muallif ismi..." {% if q %}value="{{ q }}"{% endif %}>

        <select name="sort">
            <option value="ism" {% if sort == 'ism' %}selected{% endif %}>Ism bo'yicha (A → Z)</option>
            <option value="-ism" {% if sort == '-ism' %}selected{% endif %}>Ism bo'yicha (Z → A)</option>
            <option value="-kitob_soni" {% if sort == '-kitob_soni' %}selected{% endif %}>Kitoblar soni ↓</option>
        </select>

        <button type="submit">Go</button>
    </form>
    <hr>

    {% for muallif in mualliflar %}
    <p>
        {{ forloop.counter }}.
        <a href="{% url 'muallif_detail' muallif.id %}">
            {{ muallif.ism }}
        </a>
        ({{ muallif.kitob_soni }} ta kitob)

        <a href="{% url 'muallif_delete_confirm' muallif.id %}">
            <button>O'chirish</button>
        </a>
        <a href="/mualliflar/{{ muallif.id }}/update">
            <button>Tahrirlash</button>
        </a>
    </p>
    {% empty %}
    <p>Mualliflar topilmadi.</p>
    {% endfor %}

    <br>
    <a href="{% url 'home' %}">Bosh sahifaga qaytish</a>
    <hr>
   <h2>Yangi muallif</h2>
<form method="POST">
    {% csrf_token %}
   {{ form.as_p}}
    <button type="submit">Saqlash</button>



</form>
</body>
</html>