<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talaba | Tahrirlash | Kutubxona</title>
</head>
<body>
    <h1> Talaba ma'lumotlarini tahrirlash</h1>
    <form method="POST" action="{% url 'talaba_update' talaba.id %}">
    {% csrf_token %}

    <label for="ism"  >Ism:</label>
    <input type="text" name="ism" id="ism" value="{{talaba.ism}}"> <br> <br>

    <label for="guruh"  >Guruh:</label>
    <input type="text" name="guruh" id="guruh" value="{{talaba.guruh}}"> <br> <br>

    <label for="kurs" >Bosqich:</label>
    <input type="number" name="kurs" id="kurs" value="{{talaba.kurs}}">  <br><br>

    <label for="kitob_soni">Kitob soni:</label>
    <input type="number" name="kitob_soni" id="kitob_soni"   value="{{talaba.kitob_soni}}"  > <br><br>

        <a href="{% url 'talabalar' %}">
    <button type="button">Bekor qilish</button>
</a>

    <button type="submit">Tahrirlash</button>

</form>
</body>
</html>